[submodule "appits/localizacionO15"]
	path = appits/localizacionO15
	url = git@github.com:appits/localizacionO15.git
	branch = development

[submodule "appits/IT-Sales-fiscal-print-front-end"]
	path = appits/IT-Sales-fiscal-print-front-end
	url = git@github.com:appits/IT-Sales-fiscal-print-front-end.git
	branch = development

[submodule "appits/IT-Sales-Merchant-Odoo"]
	path = appits/IT-Sales-Merchant-Odoo
	url = git@github.com:appits/IT-Sales-Merchant-Odoo.git
	branch = development
